<div class='movie-card'>
  <div class="movie-card__img-container">
    <img
    class='movie-card__poster'
    src="{{#if poster_path}}https://image.tmdb.org/t/p/w500{{poster_path}}{{else}}https://clipartmag.com/images/old-camera-clipart-27.jpg{{/if}}"
    alt='{{title}}'
    width='500'
  />
  </div>

  <div class='movie-card__info-container'>
    <h2 class='movie-card__title'><b>{{title}}</b></h2>

    <table class='movie-card__table'>
      <tr>
        <td class='movie-card__cell'>Vote / Votes</td>
        <td class='movie-card__cell'>
          <b><span class='movie-card__text movie-card__text--vote'>{{vote_average}}</span></b>
          <span class="movie-card__text movie-card__text--slash-line">/</span>
          <b><span class='movie-card__text movie-card__text--votes'>{{vote_count}}</span></b>
        </td>
      </tr>
      <tr>
        <td class='movie-card__cell'>Popularity</td>
        <td class='movie-card__cell'>
          <b><span class='movie-card__text movie-card__text--popularity'>{{popularity}}</span></b>
        </td>
      </tr>
      <tr>
        <td class='movie-card__cell'>Original title</td>
        <td class='movie-card__cell'>
          <b><span class='movie-card__text movie-card__text--title'>{{original_title}}</span></b>
        </td>
      </tr>
      <tr>
        <td class='movie-card__cell'>Genre</td>
        <td class='movie-card__cell'><b>{{genres}}</b></td>
      </tr>
    </table>

    <h3 class='movie-card__subtitle'><b>About</b></h3>
    <p class='movie-card__description'><b>{{overview}}</b></p>

    <div class='movie-card__buttons-container'>
      <button class='watched-btn' data-active='true' data-name='watched' data-id={{id}}>Add to watched</button>
      <button class='queue-btn' data-active='true' data-name='queue' data-id={{id}}>Add to queue</button>
    </div>

  </div>
</div>