{{#each this}}
<li class="film-card js-gallery-item" data-id="{{id}}">
    <div class="film-card___container" data-id="{{id}}">
        <div class="film-thumbs">
            <img class="film-img" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" />
        </div>
        <div class="film-text-wrapper">
            <h2 class="title">{{title}}</h2>
            <div class="film-box">
                <p class="genre">{{genre_ids}}</p>
                <p class="release-date">{{release_date}}</p>
                <p class="rating visually-hidden">{{vote_average}}</p>
            </div>
        </div>
    </div>
</li>
{{/each}}